body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


/* HERO SECTION */

.hero-section-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    margin-top: -100px;
   
}

.hero-main-text {
    font-size: 30px;
}

.text {
    letter-spacing: 9px;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(50),
        cursor .4s step-end infinite alternate;
}

/* CURSOR BLINKING */
@keyframes cursor {
    50% { border-color: transparent;}
}

/* TYPING EFFECT */
@keyframes typing {
    from { width: 0 }
}

/* SECTION 1 */

.section1-container {
    background-color: #000000;
    overflow: visible;
    margin-top: -50px;
}

.owl-carousel {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 5px;
    text-align: center;
    height: 60vh;
}

.owl-carousel .item-video {
    width: 100%;
    height: 300px;
    border-radius: 15px; 
    display: block;
}

