<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/forms.css">

    <title>Jake Robinson | {% block title %} {% endblock %}</title>
</head>
<body>

    <!--NAV BAR-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#">Jake Robinson</a>
            <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
                &#9776;
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="exCollapsingNavbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Media</a></li>
                    <li class="nav-item"><a href="{{ url_for('blog') }}" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                    <li class="dropdown order-1">
                        <button style="background:linear-gradient(-60deg, rgb(253, 211, 41) 45%, rgb(255, 255, 2) 55%);"
                          type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-outline-secondary rounded-pill"> Hire Me <span class="caret"></span></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block body%}


    {% endblock%}

    <!--FOOTER-->
  
    <footer class="bg-dark text-center text-white">
      <div class="container my-5"></div>
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="https://www.facebook.com/" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>

            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="https://www.instagram.com/" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="https://ie.linkedin.com/" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
      
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="https://github.com/PatrykBal/ucd_pa_python_proj" role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2024 Jake Robinson. All Rights Reserved.
        </div>
        <!-- Copyright -->
    </div>    
  </footer>
        


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="/static/js/script.js"></script>

</body>
</html>