{% extends 'base.html' %}

{% block title %} Blog {% endblock %}


{% block body %}

<!-- Blog Section 1 -->
<div class="blog-section-container container">
    <p style="color: rgb(253, 211, 41);">BLOG</p>
    <h1 class= "blog-sec1-text"> Here I try to combine all things surfing and tech.</h1>
        <p class="blog-sec1-text2">The things I have writen that were interesting at some point.</p>
        <a href="{{ url_for('login_page') }}">Login</a>
  
</div>

<ul>
    {% for post in posts %}
    <li>
        <a href="{{ url_for('blog.post', post_id=post['id']) }}">{{ post['title'] }}</a>
    </li>
    {% endfor %}
</ul>



{% endblock %}