{% extends 'base.html' %}

{% block title %} Home {% endblock %}


{% block body %}

<!-- Hero Section -->
<div class="hero-section-container container">
    <p style="color: rgba(255, 255, 255, 0.3)">Hi, I'm Jake Robinson.</p>
    <h1 class= "hero-main-text" ><span style="color: rgb(255, 255, 2);">Champion Surfer </span> turned 
        <span style="color: rgb(253, 211, 41);">Design Innovator.</span></h1>
        <p class="text">Let me bring that same passion and precision to your next project.</p>
  
</div>

<!--SECTION 1-->
<div class="section1-container container">
    <div class="my-slider">
        
    </div>


</div>


{% endblock %}